/* var */
:root {
    --primary: #FF6464;
    --primary-hover: hsla(0, 100%, 70%, 0.535);
    --secondary: #00A8CC;
    --black: #000000;
    --dark: #21243D;
    --light: #8695A4;
    --light-bg: #EDF7FA;
    --white: #FFFFFF;
}

/* normalize */
* {
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1rem;
}

.body--lock {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

/* page */
.container {
    margin: 0 auto;
    max-width: 890px;
    padding: 0 15px;
}

/* header */

.header__container {
    margin: 0 6rem;
}

.navbar {
    padding: 2rem 0 1.2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3.3rem;
}

.nav-menu__link {
    font-size: 2em;
    font-weight: 500;
    color: var(--black);
    transition: 0.4s color;
}

.nav-menu__link:hover {
    color: var(--primary);
}

.menu-button {
    display: none;
}

/* hero */
.hero {
    padding-top: 14rem;
}
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
}

.hero__descript {
    max-width: 50rem;
}

.hero__heading {
    margin-bottom: 2.5rem;
    max-width: 44rem;

    font-size: 4.4em;
    font-weight: 700;
    line-height: 136%;
    color: var(--dark);
}

.hero__text {
    margin-bottom: 4.7rem;

    font-size: 1.6em;
    color: var(--dark);
}

.hero__download-btn {
    padding: 0.9rem 2rem;

    background-color: var(--primary);
    border-radius: 2px;

    font-size: 2em;
    font-weight: 500;
    color: var(--white);
    
    transition: 0.4s;
}

.hero__download-btn:hover {
    background-color: var(--primary-hover);
    color: var(--dark);
}

.hero__photo {
    width: 24.3rem;
    height: 24.3rem;

    position: relative;

    border-radius: 50%;
}

.hero__photo::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: -1.3rem;
    left: -0.5rem;
    z-index: -1;

    border-radius: 50%;
    background-color: var(--light-bg);
}

.hero__image {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
    object-position: 50% 50%;
}